
:root{
    --primary-color: #1e662d;
    --bg-color:#181419;
    --secondary-color:#ce682d;
    --third-color:#52ad4a;
    --white-color: #fdf5ef;
    /* fuentes */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:var(--white-color)
}

h1,h2{
    color:var(--white-color);
    font-size: 1rem;
}

.header div nav a{
    text-decoration:none;
    font-size: 2rem;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--white-color);
    padding: 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.caja{
    width:100vw;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 10vh 75vh 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.portada ,.carousel ,.formulario{
    width:100vw;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr;
    padding:20px;
    margin:0;
    display: flex;
    list-style: none;
    color:var(--white-color);
    justify-content:space-between;
}

.header, .footer{
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr;
    gap:10px;
    margin:0;
    padding:0; 
}

.header ul li,.footer ul li{
    justify-content: space-around;
    padding: 20px 40px;
}
.header ul li:hover, .footer ul li:hover{
    text-decoration: underline;
    color:var(--white-color);
}

.nav{
    display:flex;
    text-decoration: none;
    list-style: none;
    grid-column-start: 4;
    justify-content: space-around;
    align-items: center;
}

.portada{
    background-color: var(--secondary-color);
} 
.carousel{
    background-color: var(--primary-color);
} 
.formulario{
    background-color: var(--third-color);
}
